* {
  margin: 0;
  padding: 0;
}
h1, h2, h3 {
  color: $color3;
  font-family: "Source Sans Pro Black";
  font-size: $headerheight;
  line-height: 1;
  text-transform: uppercase;
}
button {
  background-color: transparent;
  border: none;
  border-radius: 0;
  cursor: pointer;
  display: block;
  font-family: "Source Sans Pro Extra Light";
  &:focus {
    outline: none;
  }
}
.x {
  background-image: url('../images/big-x.png');
  cursor: pointer;
  position: absolute;
  top: $headerheight * 2;
  right: $headerheight;
  width: 100px;
  height: 100px;
}
p {
  color: $color4;
  font-family: "PT Serif";
  font-size: 15px;
  line-height: 33px;
  margin-bottom: 33px;
}


html,
body {
  background-color: $color1;
  overflow: hidden;
  width: 100%;
  height: 100%;
}