/* variable declarations */
$bgcolor: rgb(0,0,0);
$headercolor: rgb(255,255,255);
$headerfont: "Source Sans Pro";
$graphfont: "Helvetica Neue", "Helvetica";
$graphtextcolor: rgb(150,150,150);
$graphaxiscolor: rgb(150,150,150);
$menubackgroundcolor: rgb(100,100,100);
$menutextcolor: rgb(200,200,200);
$menufont: "Source Sans Pro";


/* general styles */
* {
  margin: 0;
  padding: 0;
}
html,
body {
  overflow-y: scroll;
  width: 100%;
  height: 100%;
}
section.section {
  position: relative;
  width: 100%
}
h1 {
  color: $headercolor;
  font-family: $headerfont;
  font-weight: 800;
  line-height: 1;
  text-transform: uppercase;
}
svg {
  path {
    fill: none;
  }
  path.line {
    stroke-width: 2px
  }
  g.y-axis,
  g.x-axis {
    text {
      fill: $graphtextcolor;
      font-family: $graphfont;
      font-size: 11px;
      font-weight: 400;
      letter-spacing: 1.11px;
      text-transform: uppercase;   
    }
    line {
      stroke: $graphaxiscolor;
      stroke-width: 0.5px;
    }
  }
}



/* specific styles */
/* sections */
.sections {
  background-color: $bgcolor
}
#intro-section {
  height: 3000px;
  h1 {
    font-size: 100px;
    letter-spacing: 2px;
    padding-top: 300px;
    text-align: center;
  }
}
  
  


$menuliheight: 30px;
$menuliwidth: 300px;
.menu {
  background-color: $menubackgroundcolor;
  overflow: hidden;
  position: absolute;
  top: 10px;
  right: 110px;
  width: $menuliwidth;
  height: $menuliheight;
  li:first-child {
    font-weight: 800;
    padding-left: 20px;
    width: $menuliwidth - 20px;
  }
  li:hover {
    background-color: rgb(150,150,150);
  }
  li {
    color: $menutextcolor;
    cursor: pointer;
    font-family: $menufont;
    font-size: 15px;
    font-weight: 100;
    letter-spacing: 1.5px;
    line-height: $menuliheight;
    list-style: none;
    position: relative;
    text-align: left;
    text-transform: uppercase;
    width: $menuliwidth;
    height: $menuliheight;
    .colorblock {
      float: left;
      width: 5px;
      height: $menuliheight;
    }
    .name {
      float: left;
      padding-left: 15px;
      width: $menuliwidth - 5px - 15px;
      height: $menuliheight;
    }
  }
}
.menu.clicked {
  height: auto;
}