@import "variables";
@import "reset";
@import "header";
@import "minimap";
@import "interactive";





#stream-wrapper {
  background-color: $color1;
  overflow-y: scroll;
  position: absolute;
  top: $headerheight;
  left: 0;
  width: 100%;
  height: calc(100% - 44px);
  -webkit-transition: background-color 1s;
  transition: background-color 1s;
  &.active-interlude {
    background-color: $color1;
  }
}

#stream {
  padding-bottom: $headerheight;
  .interlude {
    padding-bottom: 200px;
    opacity: 1;
    -webkit-transition: opacity 500ms;
    transition: opacity 500ms;
    &.out {
      opacity: 0;
    }
  }
  .pane {
    clear: both;
    position: relative;
    width: 100%;
    // height: set in javascript
    &.interactive {
      h1.graph-title {
        font-size: 44px;
        position: absolute;
        left: 44px;
      }
    }
    &.narration {
      h1, h2, h3 {
        margin-left: $headerheight;
        position: absolute;
      }
      h1.project-title {
        font-size: $headerheight * 2;
        top: calc(50% - 176px);
      }
      h2.byline {
        color: $color2;
        font-size: $headerheight / 2;
        top: calc(50% + 88px);
      }
      p {
        color: $color3;
        font-family: "Source Sans Pro Black";
        font-size: $headerheight * (3/4);
        line-height: $headerheight;
        margin-top: 200px;
        margin-left: $headerheight;
        width: 800px;
      }
      h1.title {
        font-size: $headerheight * 2;
        position: absolute;
        top: calc(50% - 44px);
      }
      h2.subtitle {
        color: $color2;
        font-family: "Source Sans Pro Extra Light";
        font-size: $headerheight / 2;
        position: absolute;
        top: calc(50% + 44px);
      }
      h3.kicker {
        color: $color6;
        font-size: $headerheight * (1/3);
        position: absolute;
        top: calc(50% - 88px);
      }
    }
  }
  .year {
    clear: both;
    position: relative;
    left: 44px;
    width: calc(100% - 44px);
    .year-marker {
      padding-top: $headerheight;
      h1 {
        color: $color2;
        font-size: $headerheight * (2/3);
      }
    }
    .name {
      float: left;
      width: 400px;
      height: $headerheight;
      h1 {
        font-family: "Source Sans Pro Extra Light";
        font-size: $headerheight * (2/3);
      }
      &.essay {
        h1 {
          color: $color4;
          cursor: pointer;
          font-family: "Source Sans Pro Black";
        }
        .essay-wrapper {
          margin-top: $headerheight;
          width: 600px;
          p {
            color: $color4;
          }
        }
        .x {
          opacity: 0;
        }
        &.expanded {
          clear: both;
          position: relative;
          width: 100%;
          height: auto;
          .x {
            opacity: 1;
          }
        }
      }
    }
  }
}