doctype html
html
	head
		title Damnatio ad bestias
		link(rel='stylesheet', href='/css/style.css', type='text/css')
		link(rel='stylesheet', href='/css/fonts.css', type='text/css')
		meta(charset='utf-8')
		meta(name='viewport', content='width=device-width')
	body

		header#primary-header
			h1.project-title Damnatio ad bestias
			nav
				button#share-button share
				button#about-button about

		nav#minimap
			ol#minimap-list
				div.color

		#stream-wrapper
			#stream
				each section in sections
					include section
		script(type='text/javascript' src='/js/vendor/jquery.min.js')
		script(type='text/javascript' src='/js/vendor/underscore.min.js')
		script(type='text/javascript' src='/js/vendor/backbone.js')
		script(type='text/javascript' src='/js/vendor/d3.min.js')
