!!!5
html
	head
		title Damnatio ad bestias
		link(rel='stylesheet', href='/css/style.css', type='text/css')
		link(rel='stylesheet', href='/css/fonts.css', type='text/css')
		meta(charset='utf-8')
		meta(name='viewport', content='width=device-width')
	body
		
		header#primary-header
			h1.project-title Damnatio ad Bestias
			nav
				button#share-button share
				button#about-button about

		nav#minimap
			ol#minimap-list
			div.color

		div#stream-wrapper
			div#stream	
				section#gss-race-section.section
				section#modern-executions.section
		script( type='text/javascript' src='/js/vendor/jquery.min.js' )
		script( type='text/javascript' src='/js/vendor/underscore.min.js' )
		script( type='text/javascript' src='/js/vendor/backbone.js' )
		script( type='text/javascript' src='/js/vendor/d3.min.js' )
		script( type='text/javascript' src='/js/lib/client-util.js' )
		script( type='text/javascript' src='/js/lib/data-service.js' )
		script( type='text/javascript' src='/js/lib/graph.js' )
		script( type='text/javascript' src='/js/lib/graphs/multiline.js' )
		script( type='text/javascript' src='/js/lib/graphs/faux-stacked-bar.js' )
		script( type='text/javascript' src='/js/lib/section-registry.js' )
		script( type='text/javascript' src='/js/lib/section.js' )
		script( type='text/javascript' src='/js/lib/sections/graph-section.js' )
		script( type='text/javascript' src='/shared/schemas/dpic.js' )
		script( type='text/javascript' src='/js/lib/sections/gss-race-section.js' )
		script( type='text/javascript' src='/js/lib/graphs/gss-race-graph.js' )
		script( type='text/javascript' src='/js/lib/sections/modern-executions-section.js' )
		script( type='text/javascript' src='/js/lib/graphs/modern-executions-graph.js' )

		script( type='text/javascript' src='/js/app.js' )
		script( type='text/javascript' src='/js/router.js' )
