!!!5
html
	head
		title Damnatio ad bestias
		link( rel='stylesheet', href='/css/style.css', type='text/css' )
		meta( charset='utf-8' )
		meta( name='viewport', content='width=device-width' )
	body
		.content
			.sections
				section#intro-section.section( data-location="0" data-slug="introduction" )
					h1 Damnatio ad Bestias
				section#gss-sex-section.section( data-location="1" data-slug="support-by-sex" )
				section#gss-party-section.section( data-location="2" data-slug="support-by-party" )
				section#gss-politics-section.section( data-location="3" data-slug="support-by-politics" )
				section#gss-education-section.section( data-location="4" data-slug="suport-by-education-level" )
				section#gss-race-section.section( data-location="5" data-slug="suport-by-race" )
				section#gss-religion-section.section( data-location="6" data-slug="suport-by-religion" )
				section#espy-method-section.section( data-location="7" data-slug="method-of-execution" )
				section#espy-race-section.section( data-location="8" data-slug="race-of-offender" )
		script( type='text/javascript' src='/js/vendor/jquery.min.js' )
		script( type='text/javascript' src='/js/vendor/underscore.min.js' )
		script( type='text/javascript' src='/js/vendor/backbone.js' )
		script( type='text/javascript' src='/js/vendor/d3.min.js')
		script( type='text/javascript' src='/js/lib/util.js')
		script( type='text/javascript' src='/js/app.js' )
		script( type='text/javascript' src='/js/lib/inview.js' )
		script( type='text/javascript' src='/js/lib/gss-section.js' )
		script( type='text/javascript' src='/js/lib/espy-section.js' )
		script( type='text/javascript' src='/js/router.js' )

