!!!5
html
	head
		title Damnatio ad bestias
		link( rel='stylesheet', href='/css/style.css', type='text/css' )
		meta( charset='utf-8' )
		meta( name='viewport', content='width=device-width' )
		script
			DG = {};
		script( type='text/javascript' src='/js/vendor/jquery.min.js' )
		script( type='text/javascript' src='/js/vendor/underscore.min.js' )
		script( type='text/javascript' src='/js/vendor/backbone.js' )
		script( type='text/javascript' src='/js/vendor/d3.min.js')
		script( type='text/javascript' src='/js/app.js' )
		script( type='text/javascript' src='/js/router.js' )
	body
		#support-section
			.svg-wrapper