case minimap.type
  when "year"
    li.minimap-year.minimap-section #{minimap.year}
  when "name"
    li.minimap-name.minimap-section Essay: #{minimap.name}
  when "interlude"
    li.minimap-interlude.minimap-section Interlude: #{minimap.name}
