/* variable declarations */
/* general styles */
* { margin: 0; padding: 0; }

html, body { overflow: hidden; width: 100%; height: 100%; }

section.section { position: relative; width: 100%; }

h1 { color: white; font-family: "Source Sans Pro"; font-weight: 800; line-height: 1; text-transform: uppercase; }

svg path { fill: none; }
svg path.line { stroke-width: 2px; }
svg g.y-axis text, svg g.x-axis text { fill: #969696; font-family: "Helvetica Neue", "Helvetica"; font-size: 11px; font-weight: 400; letter-spacing: 1.11px; text-transform: uppercase; }
svg g.y-axis line, svg g.x-axis line { stroke: #969696; stroke-width: 0.5px; }

.inspector { background-color: #c8c8c8; color: black; font-family: "Source Sans Pro"; font-size: 13px; line-height: 50px; position: absolute; text-align: center; width: 200px; height: 50px; }

/* specific styles */
.content { overflow: scroll; position: absolute; top: 0; left: 0; width: 100%; height: 100%; }

/* sections */
.sections { background-color: black; }

#intro-section h1 { font-size: 100px; letter-spacing: 2px; padding-top: 300px; text-align: center; }

.menu { background-color: #646464; overflow: hidden; position: absolute; top: 10px; right: 110px; width: 300px; height: 30px; }
.menu li:first-child { font-weight: 800; padding-left: 20px; width: 280px; }
.menu li:hover { background-color: #969696; }
.menu li { color: #c8c8c8; cursor: pointer; font-family: "Source Sans Pro"; font-size: 15px; font-weight: 100; letter-spacing: 1.5px; line-height: 30px; list-style: none; position: relative; text-align: left; text-transform: uppercase; width: 300px; height: 30px; }
.menu li .colorblock { float: left; width: 5px; height: 30px; }
.menu li .name { float: left; padding-left: 15px; width: 280px; height: 30px; }

.menu.clicked { height: auto; }
